# Output test files
tests/**/*.bc
tests/**/*.class
tests/**/*.j
tests/**/*.jasmine
tests/**/*.ll

input.class
input.j
input.ll
input.bc

# Binaries
insc

# Idea files
.idea/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

bin
.go
.push-*
.container-*
.dockerfile-*

